.Dr {
    height: 100px;
    width: 600px;
}

#Dr1 img {
    height: 100px;
    width: 100px;
}

#Dr2 img {
    height: 100px;
    width: 100px;
}

#Dr2 {
    margin-top: 250px;
}

h1 {
    color: cornflowerblue;
}

.Dr h3 {
    color: cornflowerblue;
}