h1 {
    color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline cornflowerblue;
}

#th {
    color: cornflowerblue;
    text-decoration: underline cornflowerblue;
}

#bl {
    color: cornflowerblue;
    text-decoration: underline cornflowerblue;
}